@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

* {
    --header-bg-color: #ffffffdc;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: var(--header-bg-color);
    padding: 1rem;
    box-shadow: 0 1px 20px 1px #00000060;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
}

.logo > i {
    margin: auto 0;
}

.logo > h2 {
    margin: auto 10px;
}

.addBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid black;
}

section {
    flex: 1;
    background: rgba(0, 0, 0, 0.144);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin: 20px;
}

.book-card {
    border: none;
    border-radius: 10px;
    background-color: var(--header-bg-color);
    font-size: 1.5rem;
    box-shadow: 1px 1px 20px 1px #00000060;
}

.button-group {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    gap: 10px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.button-group > button {
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px #00000060;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-size: 25px;
    box-shadow: 0 1px 20px 1px #00000060;
    font-weight: 700;
}

.input-user {
    position: fixed;
    top: 4rem;
    right: -400px;
    bottom: 5rem;
    width: 100vw;
    max-width: 400px;
    background-color: rgba(0, 0, 0, 0.616);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.input-user.show {
    right: 0;
}